#main{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
h1{
    margin: 8% !important;
    color: blue !important;
    font-style: italic;
    font-size: 3em !important;
}
.btnn{
    color: white;
    font-weight: bold;
    background-color: blue;
}
.btnnn{
    color: white;
    font-weight: bold;
    background-color: red;
}
.btn{
    width: 15%;
}

.li{
    margin-top: 10%;
    list-style: none;
    color:aqua;
    font-size: 3em;

}
#todo-item{
    font-weight: bolder;
    color: blue;
    width: 50%;
    border-right: black;
    border-left: black;
    border-top: black;
}
